.blogsection .blog-container
{
    width: 100%;
    /* margin-left: 5%; */
    /* padding: 10px; */
   
}
.blogsection .blog-container .up-div
{
    padding: 30px 0px;
    background: url("/backimg.avif") no-repeat;
    background-size: cover;
    background-position-y: -200px;
    height: 60vh;
    width: 94%;
    margin-left: 2%;
    display: flex;
    align-items: center;
}
.blogsection .blog-container .title h3
{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
}
.blogsection .blog-container .searchdiv
{
   /* margin-top: 70px; */
   width: 100%;
}
.blogsection .blog-container .searchdiv form
{
    display: flex;
    align-items: center;
    width: 100%;
   justify-content: center;

}
.blogsection .blog-container .searchdiv form input
{
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    background-color: white;
}
.blogsection .blog-container .searchdiv form input[type="submit"]
{
    background-color: white;
    color: #ef6c57;
    transition: .3s;
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px solid #ef6c57;
}
.blogsection .blog-container .searchdiv form input[type="submit"]:hover
{
    color: white;
    background-color: #ef6c57;
    border-color: white;
}
.blogsection .blog-container .searchdiv form .search:hover
{
    border-color: #ef6c57;
}
.blogsection .blog-container .searchdiv form .search
{
    display: flex;
    border: 1px solid transparent;
    background-color: white;
    align-items: center;
    transition: .3s;
    padding: 5px 20px;
    border-radius: 10px;
    width: 50%;
}
.blogsection .blog-container .searchdiv form .search i
{
    color: #eee;
    margin-right: 5px;
}
.blogsection .blog-container .filter
{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.blogsection .blog-container select
{
    width: 20% !important;
}
.blogsection .blog-container .blog select
{
    width: 100% !important;
}
.blogsection .blog-container select:focus
{
    box-shadow: none !important;
    border-color: darkblue;
}
.blogsection .blog-container .blog-list
{
    display: grid;
    grid-template-columns: repeat(2,45%);
    column-gap: 7%;
    width: 95%;
    margin-left: 2%;
    margin-top: 10px;
    row-gap: 20px;
}
.blogsection .blog-container .blog-list h3
{
    font-weight: 600;
    color: #ef6c57;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 25px;
}
.blogsection .blog-container .blog-list .info
{
    display: flex;
    color:#b3b3ba;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.blogsection .blog-container .blog-list p
{
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
    margin-top: 30px;
    
}
.blogsection .blog-container .blog-list .card
{
    height: fit-content;
}
.blogsection .blog-container .blog-list .card .img
{
    overflow: hidden;
    width: 100%;
}
.blogsection .blog-container .blog-list .card img
{
    width: 100%;
    object-fit: cover;
    transition: .3s;
}
.blogsection .blog-container .blog-list .card img:hover
{
    transform: scale(1.2);
}
.blogsection .blog-container .blog-list .info p
{
    margin-left: 20px;
    margin-top: 7px;
    line-height: 0;
    font-weight: normal;
}
.hidden
{
    display: none !important;
}

.blogsection .blog-container .blog form
{
    background: white;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.356);
    width: 90%;
    margin-left: 5%;
    z-index: 4;
    transform: translateY(-200px);
    margin-top: 40px;

}
.blogsection .blog-container .form
{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 10%;
    row-gap: 30px;
    padding: 50px;
    
}
.blogsection .blog-container  .blog input:not(input[type="submit"])
{
    outline: none;
    border: 1px solid transparent;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.356);
}
.blogsection .blog-container   .button-show
{
    text-align: center;
    
}
.blogsection .blog-container  .button-show button,
.blogsection .blog-container  .button-show input
{
    background-color: #ef6c57;
    text-transform: capitalize;
    padding: 10px 15px;
    transition: .3s;
    border: 1px solid transparent;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30% ;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
}
.blogsection .blog-container   .button-show button:hover,
.blogsection .blog-container   .button-show input:hover
{
    background-color: white;
    color: #ef6c57;
    border-color: #ef6c57;
}
.blogsection .blog-container  .blog input::placeholder
{
    color: #ddd;
    text-transform: capitalize;
    font-size: 20px;
    
}
.blogsection .blog-container  .blog input:not(input[type="submit"]):hover
{
    border-color: #ef6c57;
}
.show-text
{
    outline: none;
    border: 1px solid #ef6c57;
    background-color: #ef6c57;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    transition: .3s;
}
.show-text:hover
{
    color: #ef6c57;
    background-color: white;
}
/* ================================= */
@media(max-width:1000px)
{
    .blogsection .blog-container .blog-list
    {
      grid-template-columns: 80%;  
      column-gap: 0; 
      width: 100%;
      margin-left: 0;
    }
    .blogsection .blog-container .blog-list .card
    {
        margin-left: 10%;
    }
    .blogsection .blog-container .filter
    {
        justify-content: center;
    }
    .blogsection .blog-container select
    {
        width: 35% !important;
    }
}
@media(max-width:767px)
{
    .blogsection .blog-container .blog-list
    {
      grid-template-columns: 100%;  
      column-gap: 0; 
      width: 100%;
      margin-left: 0;
    }
    .blogsection .blog-container .blog-list .card
    {
        margin-left: 0%;
    }
    .blogsection .blog-container .searchdiv form
    {
        flex-direction: column;
    }
    .blogsection .blog-container .searchdiv form input 
    {
        width: 100%;
    }
    .blogsection .blog-container .searchdiv form .search
    {
        width: 90%;
    }
    .blogsection .blog-container .searchdiv form input[type="submit"]
    {
        margin-top: 20px;
        margin-left: 0;
        width: 30%;
    }
    .blogsection .blog-container  .button-show input,
    .blogsection .blog-container   .button-show button
    {
        width: 50% !important;
    }
    .blogsection .blog-container .form
    {
        grid-template-columns: 80% !important;
    }
}
@media(max-width:424px)
{
    .blogsection .blog-container .blog-list h3
    {
        font-size: 20px;
    }
    .blogsection .blog-container .blog-list .info
    {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .blogsection .blog-container .blog-list .info p
    {
        margin-left: 0;
        margin-top: 10px;

    }
    .blogsection .blog-container .blog-list p
    {
        font-size: 14px;
    }
    .blogsection .blog-container .title h3
    {
        font-size: 45px;
    }
    .blogsection .blog-container .up-div
    {
        min-height: 100vh;
        padding-bottom: 30px;
        background-position-x: -100px;
        background-position-y: 0px;
    }
    .blogsection .blog-container select
    {
        width: 50% !important;
    }
    .blogsection .blog-container  .button-show input,
    .blogsection .blog-container   .button-show button
    {
        width: 60% !important;
    }
    .blogsection .blog-container .form
    {
        grid-template-columns: 90% !important;
        padding: 10px !important;
    }
}
@media(max-width:374px)
{
    .blogsection .blog-container .searchdiv form .search
    {
        width: 100%;
    }
    .blogsection .blog-container .searchdiv form input[type="submit"]
    {
       
        width: 40%;
    }
    .blogsection .blog-container select
    {
        width: 70% !important;
    }
    .blogsection .blog-container  .button-show input,
    .blogsection .blog-container   .button-show button
    {
        width: 60% !important;
    }
    .blogsection .blog-container .form
    {
        grid-template-columns: 100% !important;
    }
}
/* ================== */
/* ================== */
/* ================== */
/* ================== */

.logo_nav_icons {
    display: flex;
    align-items: center; 
    padding: 20px;  
    justify-content: space-around;
    gap: 170px; 
}
.logo {
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px; 
    letter-spacing: 1px;
}
nav {
    display: flex;
    gap: 45px;
}
nav a {
    color: black; 
    text-decoration: none; 
    font-size: 17px; 
    transition-duration: 0.5s;
}
nav a:hover {
    color: #ef6c57;
 }
 nav a.active{
     text-decoration: underline; 
     text-underline-offset: 10px;
     color: #ef6c57;
 }
.banner_icons {
    display: flex;
    gap: 30px; 
}
.banner_icons i{
    color: black;
    font-size: 15px; 
}
.nav-toggle,.dropdown_menu {
    display: none; 
}

/* ********************************************** */
.banner_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-image: url('/hero_bg_1.jpg.webp'); 
    background-size:cover;
    background-position: center; 
    color: white; 
    text-align: center; 
    position: relative; 
    background-attachment: fixed;
}

.banner_body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}
.banner_body > * {
    position: relative; 
    z-index: 2; 
}
.banner h1{
    font-size: 60px;
}
.banner p{
    max-width: 60%;
    margin-top: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.banner_body_btn {
    margin-top: 30px; 
    padding: 20px 50px;
    font-size: 25px; 
    background-color:#ef6c57; 
    border: none; 
    cursor: pointer;
    font-weight: bolder;
    color: white;
    transition-duration: 0.5ุณ;
}

.banner_body_btn:hover {
    background-color:transparent; 
    border: solid white 2px;
    padding: 18px 50px;
}

/* *****************************section images & section destination ******************************* */
.images {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    margin-top: -50px; 
    position: relative;
    z-index: 2; 
}
.Our_Destinations {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px;
    position: relative; 
}
.image-container,.des_image-container {
    position: relative;
    overflow: hidden;
}
.des_image-container{
    width: 27.5%; 
}

.image-container{
    width: 28.5%; 
}

.image-container::after,.des_image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); 
    pointer-events: none; 
}

.image-container img ,.des_image-container img{
    width: 100%;
    transition: transform 0.3s ease;
}

.image-container:hover img, .des_image-container:hover img {
    transform: scale(1.1); 
}

.caption,.des_caption ,.des_price{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 1; 
    transition: none; 
    z-index: 1; 
    width: 100%;
}
.caption,.des_caption{
    color: white; 
    font-weight: bolder;
    bottom: 20px; 
}
.des_price{
    color: #ef6c57;
    bottom: 30px;
}

.des_title{
    margin: 70px auto;
    text-align: center;
}
.des_title > h1 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px; 
}

.des_title > span {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0; 
}
/* *********************** text icons ********************************* */
.text_icons {
    display: flex; 
    justify-content: space-around; 
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text_icons ul {
    display: flex; 
}

.text_icons li {
    list-style: none; 
    display: flex;
    align-items: flex-start; 
}

.text_icons i {
    font-size: 40px; 
    color:#ef6c57; 
    margin-right: 25px; 
}

.text_icons div {
    display: flex;
    flex-direction: column;
}

.text_icons div span{
    font-size: 20px;
}
.text_icons div p{
    color: #919191;
    width: 75%;
    font-size: 16px;
    line-height: 25px;
}

.text_icons div a {
    margin-top: 5px; 
    text-decoration: none;
    color: #ef6c57;
}
/* ********************** footer ****************************** */
footer {
    display: flex;
    justify-content: space-between; 
    padding:  100px 60px ;
    background-color: #333333;
    margin-top: 70px;
}
 .footer2{
   flex: 1; 
   max-width: 200px;
}
.footer1{
    margin-right: 100px;
    flex: 1; 
    max-width: 300px;
    
}
.footer3 {
    flex: 1; 
    max-width: 300px;
}

.footer2 span {
    text-align: center;
}
.footer1 span, .footer2 span, .footer3 span {
    font-weight: bold;
    text-transform: uppercase;
    color: white;

}
.footer1 p, .footer2 p, .footer3 p {
    text-align: left;
    font-size: 16px;
    color: #737373;
    line-height: 30px;
    margin-top: 20px;
}

.footer2 a {
    display: block; 
    margin: 20px 0px; 
    text-decoration: none;
    color: #737373;
    font-size: 15px;
}

.footer3 div {
    display: flex; 
    margin-top: 10px; 
}

.footer3 input[type="email"] {
    flex: 0.9;
    padding: 5px; 
    height: 40px;
    background-color: transparent;
    border: #737373 solid 1px;
    border-right: none;
    outline: none; 
}

.footer3 button {
    padding: 5px 10px;
    cursor: pointer; 
    height: 40px;
    background-color:#ef6c57;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 15px;
}
.footer3 button:hover{
   background-color: transparent;
    border: solid black 2px;
}

/* ****************** End *********************** */
.end{
    text-align: center;
    display: block;
    background-color: #333333;
    padding-bottom: 70px;
    padding-top: 30px;
}

.end> span{
    color: #737373;
    font-size: 16px;
}
.end_icons i{
    margin-right: 30px;
    color: #a2a2a2;
    font-size: 16px;
    margin-bottom: 40px;
}
.highlight {
    color:#ef6c57; 
    font-weight: bold; 
    text-decoration: none;
}

@media (max-width: 767px) {
    .logo_nav_icons {
        align-items: flex-start; 
        padding: 10px; 
        gap:80px; 
    }
    .logo{
        margin-top: 10px;
    }  
    .nav-toggle {
        display: block; 
        margin-top: 10px; 
        cursor: pointer;
        font-size: 24px; 
    }

    .nav-container {
        display: none; 
        flex-direction: column; 
        gap: 15px; 
    }

    .nav-container.active {
        display: flex; 
    }
    
    nav {
        flex-direction: column; 
        gap: 15px; 
    }
    
    nav a {
        font-size: 16px; 
    }
    
    .banner_body {
        height: 500px; 
        padding: 20px;
    }
    
    .banner h1 {
        font-size: 40px; 
    }
    
    .banner p {
        max-width: 100%; 
        font-size: 18px; 
    }
    
    .banner_body_btn {
        padding: 15px 30px; 
        font-size: 14px; 
    }
    
    .banner_icons {
        flex-wrap: wrap; 
        gap: 15px; 
    }
    
    .banner_icons i {
        font-size: 20px; 
    }
    .images{
        margin-top: -20px;
    }
    .image-container, .des_image-container {
        width: 90%; 
        margin-bottom: 20px; 
    }

    .images {
        flex-direction: column; 
        align-items: center; 
    }
    
    .Our_Destinations {
        flex-direction: column; 
        align-items: center; 
    }
    /* ******************** */
    .text_icons {
        flex-direction: column;
        align-items: center; 
        padding: 5px;
        margin-left: -25px;
    }   
    .text_icons ul {
        flex-direction: column;
        align-items: center;
    }   
    .text_icons li {
        margin-bottom: 20px;
        width: 100%;
        justify-content: center; 
    }   
    .text_icons div p {
        width: 100%; 
        text-align: left; 
    }
    /* ****************************** */
    footer {
        flex-direction: column; 
        align-items: flex-start;
        padding: 50px 20px; 
    }

    .footer1, .footer2, .footer3 {
        max-width: 100%;
        margin-right: 0; 
        margin-bottom: 30px; 
        text-align: left;
    }

    .footer3 div {
        display: flex;
        width: 100%;
    }
    .footer3 input[type="email"] {
        width: 50%; 
        margin-bottom: 10px;
    }
    /* ******************************* */
    nav,.banner_icons{
        display: none;
    }
    .dropdown_menu {
        display: none; 
        position: fixed; 
        top: 0;
        right: 0;
        width: 90%; 
        height: 100%; 
        background-color: white;
        z-index: 4;
        transition: transform 0.7s ease; 
        transform: translateX(100%);
    }
    
    .dropdown_menu.show {
        display: block;
        transform: translateX(0); 
    }
    .menu-links {
        margin-top: 80px;

    }
    .dropdown_menu li{
        list-style-type: none;
    }
    .dropdown_menu a {
        margin-top: 30px;
        font-size: 20px;
        display: flex;
        text-align: left;
        flex-direction: column;
        text-decoration: none;
        transition-duration: 0.5s;
        color: black;
    }
}    
/* ********************************************** */
   
.dropdown_menu a :hover {
    color: #ef6c57;
 }
 .dropdown_menu a.active{
     color: #ef6c57;
 }

.nav-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.close-menu {
    position: absolute; 
    top: 20px;
    right: 20px; 
    background: transparent; 
    border: none; 
    cursor: pointer; 
    color: black; 
    font-size: 24px;
}
.menu_icons {
    display: flex;        
    gap: 10px;          
    justify-content: center;     
    gap: 40px;   
    margin-top: 40px;
}
.menu_icons a {
    color: black;         
    text-decoration: none; 
    font-size: 30px;
}




